.animate-on-currency.animate {
    animation: pulse 1s linear 0s;
}

@keyframes pulse {
    0% {
        transform: none;
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: none;
    }
}